<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by <a href="https://www.lauratellervo.fi/" target="_blank">Laura Pohjanpalo</a>.<p>
        <p>It uses data from <a href="https://www.mapbox.com/" target="_blank">Mapbox.com</a> and <a href="https://weatherstack.com/" target="_blank">Weatherstack.com</a>.</p>
        <img class="portrait" src="/img/LauraPohjanpalo.jpg">
    </div>
     
    {{>footer}}
</body>


</html>