<!DOCTYPE html>

<html>

<head>
    <title>Links</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{linkText}}</p>
        <p><a href="https://en.ilmatieteenlaitos.fi/" target="_blank">{{linkTextOne}}</a></p>
        <p><a href="https://www.foreca.com/" target="_blank">{{linkTextTwo}}</a></p>
        <p><a href="https://weather.com/weather/today/" target="_blank">{{linkTextThree}}</a></p>
    </div>

    {{>footer}}
</body>


</html>