body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: rgb(175, 239, 255);
    background: url("https://source.unsplash.com/lREC-3pr_ts") no-repeat center
    center/cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #8888885b;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: rgb(29, 114, 251);
}

/* visited link */
a:visited {
    color: rgb(18, 7, 172);
}

/* mouse over link */
a:hover {
    color: hotpink;
    
}

/* selected link */
a:active {
    color: rgb(0, 255, 170);
} 



header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 150px;
    border-radius: 10px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #0059ff;
    background:rgb(29, 114, 251);
    color: white;
    padding: 8px;
}